

<h1>@ViewData["Title"]</h1>
<div class="text-center">

<h1>Tutorial</h1>
<p> <b> Durante este juego, se les irán presentando acertijos que deberas resolver para avanzar de sala en sala y ayudar a Harry a llegar a la estación 9 3/4 para cumplir su sueño de ser un mago en Hogwarts.</b> </p>

<img id="fotoPrincipalNoticia" title="Harry Potter y la piedra filosofal" src="\imagenes\tutorial 2.jpg" alt="Harry Potter y la piedra filosofal" >
<img id="fotoPrincipalNoticia" title="Harry Potter y la piedra filosofal" src="\imagenes\tutorial 3.jpg" alt="Harry Potter y la piedra filosofal" >
</div>