
<div class="text-center">

<P>  Bienvenidos a mi vida, por si no me conocen me llamo <i> Harry 
    Potter </i>, tengo 11 años y hace unos días me llegó una carta para
     ir a la prestigiosa academia de Hogwarts, un colegio especial para 
     hechiceros y hechiceras. Esta carta dice que 
     tengo que ir a una estación especial pero hay un pequeño problema,
      mis tios me tiene encerrado en su casa. Necesito ayuda para llegar a la estación 9 3/4 
      ¿Quieren ayudarme? </P>

<img src="\imagenes\estacion.gif ">
<a href='@Url.Action("Comenzar","Escape")'><button type="button" class="btn btn-success">COMENZAR</button></a>


</div>