<div class="text-center">
<h1>¡Victoria!</h1>
<h1>Harry logró atravesar la estación magica gracias a tu ayuda, enhorabuena!</h1>
<img src="\imagenes\festejo.gif "width="45%" height="auto">
<img src="\imagenes\victoria.gif " width="45%" height="auto"> 